@import color
@import ~material-design-lite/src/material-design-lite

body
  margin: 0
  font-family: 'Roboto', sans-serif

body > .layout
  @extend .mdl-layout
  @extend .mdl-layout--fixed-header

body > .layout > header
  @extend .mdl-layout__header
  @extend .mdl-color--white
  @extend .mdl-color-text--cyan-400
  position: absolute
  top: 0
  left: 0
  right: 0

  > .content
    @extend .mdl-layout__header-row

    > a
      @extend .mdl-navigation__link
      display: block
      color: inherit
      text-decoration: none
      font-family: 'Coda', monospace
      font-size: 24px

      $logo-size: 28px
      margin-left: -26px
      padding-left: $logo-size + 28px
      padding-right: 20px

      background:
        image: url(assets/favicon.svg)
        repeat: no-repeat
        size: $logo-size $logo-size
        position: 20px center

      > h1
        display: inline
        font-family: inherit
        font-size: inherit
        vertical-align: baseline

      > h1::after
        content: "ALPHA"
        display: inline
        vertical-align: super
        margin-left: 5px
        font-size: 12px

    > span
      @extend .mdl-layout-spacer

    > nav
      @extend .mdl-navigation

      > a
        @extend .mdl-navigation__link
        font-weight: 500
        font-size: 16px
        color: inherit

body > .layout > main
  @extend .mdl-layout__content
  @extend .mdl-color--cyan-400

  > .intro
    $header-height: 64px
    background:
      image: url(assets/motif.svg)
      size: 600px 600px
      position: 50% $header-height
      $grey: 247
    box-sizing: border-box
    min-height: 95vh
    padding-top: $header-height + 30px
    padding-bottom: 30px
    display: flex
    flex-direction: column
    justify-content: center

    > p
      @extend .mdl-color-text--white
      text-align: center
      font-weight: 400

    > p:first-of-type
      padding-left: 15%
      padding-right: 15%
      font-size: 46px
      font-weight: 600
      line-height: 1.4

    > p:last-of-type
      margin-top: 36px
      padding-left: 25%
      padding-right: 25%
      font-size: 24px
      line-height: 1.6

  > .details
    @extend .mdl-color-text--cyan-400
    padding-top: 80px
    padding-bottom: 60px
    padding-left: 10%
    padding-right: 10%

    p
      text-align: center
      font-weight: 600

    > p:first-of-type
      font-size: 32px
      margin-bottom: 40px

    > img
      display: block
      width: 100%

    > .steps
      @extend .mdl-grid

      > p
        @extend .mdl-cell
        @extend .mdl-cell--4-col
        @extend .mdl-cell--12-col-tablet
        padding-left: 10px
        padding-right: 10px
        font-size: 18px
        line-height: 1.6

  > .details-1
    @extend .details
    @extend .mdl-color--cyan-50

  > .details-2
    @extend .details
    @extend .mdl-color--white

  > .go
    @extend .intro
    padding-top: 30px
    min-height: 65vh
    padding-left: 10%
    padding-right: 10%
    background-position: 50% 50%

    > p:first-of-type
      font-size: 32px
      margin-top: 20px

    > p:last-of-type
      margin-top: 20px

    > img
      display: block
      width: 100%

  > .contact
    @extend .mdl-color--cyan-200
    padding-top: 30px
    padding-bottom: 20px
    padding-left: 10%
    padding-right: 10%

    > p
      @extend .mdl-color-text--cyan-800
      text-align: center
      font-weight: 400
      font-size: 24px

      > a
        color: inherit
        font-weight: inherit
        text-decoration: none

    > p:last-of-type
      margin-top: 28px
      font-style: italic
      font-size: 16px

body > .layout > footer
  @extend .mdl-mini-footer
  padding: 16px 16px

  > div:first-of-type
    @extend .mdl-mini-footer__left-section
    font-family: 'Coda', monospace

    a
      font-size: 150%

  > div:last-of-type
    @extend .mdl-mini-footer__right-section

  ul
    @extend .mdl-mini-footer__link-list

form
  text-align: center
  margin-top: 30px

  > .mdl-textfield
    max-width: 240px

    > input
      @extend .mdl-color-text--white
      border-color: white

    > label
      @extend .mdl-color-text--grey-100
      text-transform: uppercase

  > button
    @extend .mdl-button
    @extend .mdl-color-text--white
    border: 1px solid white
    margin-left: 10px
